.header-main{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    justify-content:space-between;
    z-index: 100;
    margin: 0px 20px 0px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240);
}

.header-main .logon{
    width:120px;
    height:100px;
}
.header-main .logo{
    height: 100px;
    object-fit: cover;
}
.header-main .motto{
    width:300px;
    padding-top: 20px;
}
.header-main .motto2{
     color: rgb(245, 170, 66);
     width: 250px;
}

.header-main .button-grp{
    display:flex;
    height: 100%;
    width: 500px;
    padding: 0 20px;
}
.header-main .button{
    background-color: rgb(	0, 0, 128);
    height: 40%;
    width: 100%;
    display: block;
    padding:0 10px;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 2s;
    box-shadow: 10px 10px 10px black;
    align-self:center;
    margin:25px;

}
.button:hover {
  background-color: rgb(81, 66, 245);
}
.button:active{
    opacity: 0.7;
}


.dropmenu {
    background-color: rgb(	0, 0, 128);
    padding: 10px;
    margin-top: -30px;
    position: absolute;
    display:none;

}
.dropdown_menu:hover .dropmenu{
    display: block;
}
.lists{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
.lists:hover {
  background-color: rgb(81, 66, 245);
}
.menu{
    height:50px;
    margin-right: 20px;
    margin-top: 20px;
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    padding: 30px 20px 20px 40px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 25px rgb(0, 0, 0) inset;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
    transition: 200s;
    flex-direction: column;
}
.sidebar_content{
    display: flex;
    flex-direction: column;


}
.close{
    height: 30px;
    margin-bottom: 20px;
}
.list{
    text-decoration: none;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240);
    padding: 10px 15px;
    display: block;
    width: 100%;
}
@media screen and (max-width: 1200px){
    .header-main .button-grp{
        display: none;
    }

    .menu{
        display: block;
    }
}

.footer-main {
    background-color: rgb(0, 26, 77);
    color: white;
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
    bottom: 0;
    display:flex;
    flex-direction: row;
}

.company-name{
    width:600px;

}
.socials{
    flex: 1;
    text-align: end;

}
.social-logos{
    padding: 0 .5em;
    display: inline-block;
}
.social-logos img{
    width: 30px;
    height: 30px;
}