.main{
    margin: 100px 75px 75px 75px;
}

}
.pics{
    display:flex;
}
.mySlides{
    width: 100%;
    height: 450px
    object-fit: contain;
}
.text{
    text-align: center;
    background-color: rgb(0, 26, 77);
    color: white;
    padding: 10px 10px;
    margin: 10px 10px;
}




.service{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}
.img1-1 {
    width: 300px;
    height: 200px;
}
.img2-2{
    width: 300px;
    height: 200px;
}
.img3-3{
    width: 300px;
    height: 200px;
}
.img4-4{
    width: 300px;
    height: 200px;
}
@media (max-width: 1200px){
    .service{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 700px){
    .service{
        grid-template-columns: 1fr;
    }
}




